.container {
  background-color: var(--background2-color);
  color: var(--logoFont-color);
  padding: 20px;
}

.heading {
  margin: 50px 0 30px;
  text-align: center;
  color: var(--logoFont-color);
}

.faqsContainer {
  margin: 0 auto;
  max-width: 600px;
}

.faq {
  background-color: var(--background-color);
  border: 1px solid var(--green3-color);
  /* border-radius: 10px; */
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  transition: 0.3s ease;
  cursor: pointer; /* Indicates the FAQ is clickable */
}

.active {
  background-color: var(--background-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faqTitle {
  margin: 0 35px 0 0;
  color: var(--green1-color);
}

.faqText {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
  margin: 30px 0 0;
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.active .faqText {
  max-height: 300px; /* Adjust based on expected text height */
  opacity: 1;
  transform: translateY(0);
}