.Enquire {
  background: var(--background2-color);
  margin-top: var(--global-marginTop);

}
.contactContainer {
  margin: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contactContent {
  max-width: 700px;
  width: 100%;
}

.mainHeading {
  font-size: 32px;
  text-align: center;
  color: var(--green0-color);
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: var(--text-secondary-color);
  text-align: center;
  margin-bottom: 30px;
}

.contactForm {
  background: var(--background-color);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--logoFont-color);
  margin-top: 20px;
}

.heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--green0-color);

}

.formRow {
  display: flex;
  flex-wrap: wrap;
}

.leftColumn {
  flex: 1;
  margin-right: 20px;
}

.rightColumn {
  flex: 1;
  min-width: 200px;
}

.inputBox {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.field {
  width: 100%;
  height: 50px;
  background: var(--background2-color);
  border: 2px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
}

.message {
  height: 360px;
  resize: none;
}

.submitButton {
  width: 100%;
  height: 55px;
  background: var(--green0-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: var(--background2-color);
  font-weight: 500;
  margin-top: 20px;
  transition: var(--button-transition);
}

.submitButton:hover {
  background-color: var(--green5-color);
}
