.Treatments {
margin-top:70px;
transition: background-color 0.3s ease;
position: relative; 
overflow: hidden; 
}
.TreatmentsContainer {
margin-bottom: var(--global-margin);
display: flex;
flex-direction: column;
gap: 30px; 
text-align: left; 
}

.Row {
background-color: var(--background-color);
padding: 20px;
}

.ColumnHeader {
  color: var(--green0-color);
  text-decoration: underline;
}
.Row p {
color: var(--logoFont-color);
font-size: medium;
margin: 10px;
font-style: italic;
}

.TreatmentGrid {
display: grid;
grid-template-columns: 1fr repeat(2, 1fr); 
gap: 20px; 
margin: 10px 0 20px 0;
}

.TreatmentHeader {
text-align: center;
}

.TreatmentDetail {
text-align: center; 
}


.EnquireButton {
margin: var(--global-margin);
padding: 10px 20px;
font-size: 1rem; /* Button font size */
color: var(--background2-color); 
background-color: var(--green0-color); /* Button background color */
border: none; /* Remove border */
border-radius: 5px; /* Rounded button */
cursor: pointer; /* Pointer on hover */
transition: background-color 0.3s; /* Smooth transition */
text-decoration: none;
}

.EnquireButton:hover {
background-color: var(--green5-color);
} 
