/* Wrapper for the three-column layout */
.ThreeColumnTextCard {
    display: flex;
    justify-content: space-between; /* Spread out columns evenly */
    gap: 20px; /* Optional gap between columns */
    padding: var(--global-padding);
    margin-top:var(--global-margin);
    margin-bottom:var(--global-margin);
    text-align: center; /* Center align all text within the card */
}

/* Style for each column */
.Column {
    flex: 1; /* Each column takes equal space */
    padding: 20px;
    /* border-radius: 30px;  */
    display: flex;
    flex-direction: column; /* Align text vertically in each column */
    align-items: center; /* Center align items horizontally */
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Style for column titles */
.Column h3 {
    font-size: 1.1rem;
    margin-bottom: 10px; /* Spacing below title */
    color: var(--logoFont-color);
}

/* Style for column text */
.Column p {
    font-size: small;
    font-style: italic;
    margin: 0;
    color:var(--green0-color);
}

/* Background option 1 */
.Background1 {
    background-color: var(--background-color); 
}

/* Background option 2 */
.Background2 {
    /* background-color: var(--background2-color);  */
    background-color: var(--logoBase-color);
}
